* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

.containerCenter {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerMain {
  display: flex;
  flex-direction: column;
}

.containerMainCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 70%;
  transform: scale(1.2);
  margin: 2rem 0;
}

.socialLinksContainer {
  margin: 2rem 0;
}

.linkImg {
  height: 25px;
  width: 25px;
  padding-left: 10px;
  transition: transform 0.2s;
}

.linkImg:hover {
  transform: scale(1.2);
}

table {
  border-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 300px;
}

th:first-child {
  border-radius: 3px;
}

td:last-child {
  border-radius: 3px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 7px 14px;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

form {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 0.8rem;
  margin-right: 0.8rem;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-weight: 600;
}

input:focus {
  border: 1px solid #575757;
  outline: none;
}

input[type="submit"] {
  padding: 0.8rem;
  border: 1px solid #dddddd;
  background-color: #dc0101;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.2s;
}

input[type="submit"]:hover {
  transform: scale(1.1);
}

.validationText {
  background-color: #dc0101;
  padding: 0.4rem;
  color: #fff;
  border-radius: 2px;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}

.mapWrap {
  border: 1px solid #dddddd;
  margin-bottom: 1rem;
  line-height: 0;
}

.skeletonTable {
  border: 1px solid #c4c4c4;
  background-color: #f5f5f5;
  border-radius: 3px;
  margin: 2rem 0 1rem 0;
  height: 375px;
  width: 300px;
}

.skeletonMap {
  border: 1px solid #c4c4c4;
  background-color: #f5f5f5;
  border-radius: 3px;
  margin-bottom: 1rem;
  height: 300px;
  width: 300px;
}

@media (min-width: 600px) {
  table {
    width: 60vw;
    max-width: none;
  }

  .skeletonTable {
    width: 60vw;
    max-width: none;
  }

  .skeletonMap {
    width: 60vw;
    max-width: none;
  }
}

@media (min-width: 1200px) {
  table {
    width: 30vw;
    max-width: none;
  }

  .skeletonTable {
    width: 30vw;
    max-width: none;
  }

  .skeletonMap {
    width: 30vw;
    max-width: none;
  }
}
